@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 @localizer["class"]">@localizer["titel"]</h1>
    <p>@ViewData["titel"]</p>
</div>
